<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>华南选矿冶金技术网</title>
<link href="/app.6c37412a.css" rel="stylesheet"></head>

<body>
    <div id='root'>
    </div>
	 <script type="text/javascript" src="/vendor.a7b25392.js"></script>
	<script type="text/javascript" src="/app.6c37412a.js"></script>
	<script type="text/javascript" src="/home.be6c1700.js"></script>
	<script type="text/javascript" src="/introduce.4d8ebbaf.js"></script>
	<script type="text/javascript" src="/pattern.a9065a1a.js"></script>
	<script type="text/javascript" src="/component.5ee43c1c.js"></script>
</body>

</html>