<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>华南选矿冶金技术网</title>
<link href="/app.31ceb2e9.css" rel="stylesheet"></head>

<body>
    <div id='root'>
    </div>
<script type="text/javascript" src="/vendor.ea2ed8a6.js"></script><script type="text/javascript" src="/app.31ceb2e9.js"></script></body>

</html>